{% extends "layout.html" %} {% block title %} Portfolio {% endblock %} {% block
main %}
<h2>{{ user }}'s Portfolio</h2>
<br />
<table class="table tablestriped">
  <thead>
    <tr>
      <th class="text-start">Symbol</th>
      <th class="text-start">Name</th>
      <th class="text-end">Shares</th>
      <th class="text-end">Price</th>
      <th class="text-end">TOTAL</th>
    </tr>
  </thead>
  <tbody>
    {% for ticker in portfolio %}
    <tr>
      <td class="text-start">{{ ticker.symbol }}</td>
      <td class="text-start">{{ ticker.companyName }}</td>
      <td class="text-end">{{ ticker.shares }}</td>
      <td class="text-end">{{ ticker.latestPrice }}</td>
      <td class="text-end">{{ ticker.total }}</td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr>
      <td class="border-0 fw-bold text-end end-header" colspan="4">Cash</td>
      <td class="border-0 text-end">{{ cash }}</td>
    </tr>
    <tr>
      <td class="border-0 fw-bold text-end end-header" colspan="4">TOTAL</td>
      <td class="border-0 w-bold text-end">{{ portfolioValue }}</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
